.menuItem {
  text-align: right;
}

.Notifications {
  position: relative;
  border: 5px;
  padding: 5px;
  border: 2px dashed red;
  width: 400px;
  margin-left: auto;
}

[data-notification-type='default'] {
  color: blue;
}

[data-notification-type='urgent'] {
  color: red;
}
